<!DOCTYPE html>
<html lang="en">
    {{> frontend/head}}
    <body>
    {{> frontend/header}}
    <section class="banner-w3-agileits-btm-right py-5" id="about">
        <div class="container py-xl-5 py-sm-3">
            <div class="row">
                    {{{body}}}
            </div>
        </div>
    </section>
    {{> frontend/footer}}
    </body>
</html>