<!--index-->
            <div class="col-lg-12 about-left">
                <div style="width:100%; text-align:center;">
                    <img src="/images/404.jpg">
                    <h1>Oops, Don't Cry</h1>
                    <h2>{{error.status}} - {{message}}</h2>
                </div>
            </div>