<!--index-->
<div class="col-lg-12 about-left">
<div style="width:220px; height: 40px; float: left;"><a href="/category/anime-manga/">Anime/Manga</a></div>
<div style="width:220px; height: 40px; float: left;"><a href="/category/books/">Books</a></div>
<div style="width:220px; height: 40px; float: left;"><a href="/category/cartoons/">Cartoons</a></div>
<div style="width:220px; height: 40px; float: left;"><a href="/category/comics/">Comics</a></div>
<div style="width:220px; height: 40px; float: left;"><a href="/category/games/">Games</a></div>
<div style="width:220px; height: 40px; float: left;"><a href="/category/misc/">Misc</a></div>
<div style="width:220px; height: 40px; float: left;"><a href="/category/movies/">Movies</a></div>
<div style="width:220px; height: 40px; float: left;"><a href="/category/plays/">Plays</a></div>
<div style="width:220px; height: 40px; float: left;"><a href="/category/tv/">TV</a></div>
</div>
            <div class="col-lg-12 about-left" style="margin-top:75px;">
                News Stuff Goes Here
            </div>
<!--//index-->

